#account_page.account_page
  .account_page__inner
    .account_page__inner--left.account_page__header
      %h2 ログイン
    .account_page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field_input
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
        .field
          .field_input
            = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード'
        .actions
          = f.submit "ログイン", class: "btn"
    .devise_links
      = render "devise/shared/links"
