%body
  %header.header
    .header__bar
      %h1
        = link_to "Cyaios", root_path
      - if user_signed_in?
        %ul.header__bar__user_nav
          %li.user_name
            %span
              = current_user.name
              さん
          %li.header__bar__user_nav__btn
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %ul.header__bar__user_nav
          %li.header__bar__user_nav__btn
            = link_to "ログイン", new_user_session_path
          %li.header__bar__user_nav__btn
            = link_to "新規登録", new_user_registration_path
